@layer components {
    .btn-primary-orange {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: var(--color-primary);
        color: var(--color-white);

        box-shadow:
            0px 79px 22px rgba(255,82,6,0.01),
            0px 51px 20px rgba(255,82,6,0.05),
            0px 29px 17px rgba(255,82,6,0.18),
            0px 13px 13px rgba(255,82,6,0.31),
            0px 3px 7px rgba(255,82,6,0.35);

        &:hover, &:focus {
            box-shadow:
            0px 79px 22px rgba(255,82,6,0.01),
            0px 51px 20px rgba(255,82,6,0.05),
            0px 29px 17px rgba(255,82,6,0.18),
            0px 13px 13px rgba(255,82,6,0.31),
            0px 3px 7px rgba(255,82,6,0.35),
            0 0 0 3px var(--color-primary); /* ring on top */
        }

        &:active {
            box-shadow:
            0px 79px 22px rgba(255,82,6,0.01),
            0px 51px 20px rgba(255,82,6,0.05),
            0px 29px 17px rgba(255,82,6,0.18),
            0px 13px 13px rgba(255,82,6,0.31),
            0px 3px 7px rgba(255,82,6,0.35),
            0 0 0 8px var(--color-primary); /* ring on top */
        }

        &:disabled {
            background-color: rgba(92, 31, 0, 0.2);
            color: var(--color-dark-1);
            box-shadow: none;
        }
    }

    .btn-secondary-orange {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: transparent;
        color: var(--color-primary);
        box-shadow:
            0 0 0 1px var(--color-primary);

        &:hover, &:focus {
            background-color: var(--color-primary);
            color: var(--color-white);
            box-shadow:
                0 0 0 3px var(--color-primary);
        }

        &:active {
            box-shadow:
                0 0 0 8px var(--color-primary);
        }

        &:disabled {
            color: rgba(92, 31, 0, 0.3);
            background-color: transparent;
            box-shadow:
                0 0 0 1px rgba(92, 31, 0, 0.3);
        }
    }

    .btn-tertiary-orange {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: transparent;
        color: var(--color-primary);

        &:hover, &:focus {
            box-shadow:
                0 0 0 1px var(--color-primary);
        }

        &:active {
            box-shadow:
                0 0 0 8px var(--color-primary);
        }

        &:disabled {
            color: rgba(92, 31, 0, 0.3);
            background-color: transparent;
            box-shadow: none;
        }
    }

    .btn-primary-light {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: var(--color-light);
        color: var(--color-primary);

        &:hover, &:focus {
            box-shadow:
            0 0 0 3px var(--color-light); /* ring on top */
        }

        &:active {
            box-shadow:
            0 0 0 8px var(--color-light); /* ring on top */
        }

        &:disabled {
            background-color: rgba(92, 31, 0, 0.2);
            color: var(--color-dark-1);
            box-shadow: none;
        }
    }

    .btn-secondary-light {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: rgba(255, 250, 217, 0.2);
        color: var(--color-light);
        box-shadow:
            0 0 0 1px var(--color-light);

        &:hover, &:focus {
            background-color: var(--color-light);
            color: var(--color-primary);
            box-shadow:
                0 0 0 3px var(--color-light);
        }

        &:active {
            box-shadow:
                0 0 0 8px var(--color-light);
        }

        &:disabled {
            color: rgba(92, 31, 0, 0.3);
            background-color: transparent;
            box-shadow:
                0 0 0 1px rgba(92, 31, 0, 0.3);
        }
    }

    .btn-tertiary-light {
        display: flex;
        align-items: center;
        font-family: var(--font-sans);
        font-weight: 700;
        text-transform: uppercase;

        transition: color 150ms ease-in-out, background-color 150ms ease-in-out, box-shadow 150ms;
        outline: none;

        background-color: transparent;
        color: var(--color-light);

        &:hover, &:focus {
            box-shadow:
                0 0 0 1px var(--color-light);
        }

        &:active {
            box-shadow:
                0 0 0 8px var(--color-light);
        }

        &:disabled {
            color: rgba(92, 31, 0, 0.3);
            background-color: transparent;
            box-shadow: none;
        }
    }
}

@utility btn-sm {
    height: 32px;
    padding: 9px 16px 7px 16px;
    font-size: 11px;
    letter-spacing: 2.2px;
}

@utility btn-lg {
    height: 56px;
    padding: 22px 32px 18px 32px;
    font-size: 12px;
    letter-spacing: 2.4px;
}

.btn-secondary-orange.btn-lg:hover {
    background-color: blue !important;
}
