@import "tailwindcss";
@import "./buttons.css";

@theme {
    --font-sans: var(--font-neuf);

    --color-tech: #FF9CFF;
    --color-error: #FF0000;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-dark-1: #5C1F00;
    --color-dark-2: #AE8C6D;
    --color-dark-3: #D7C3A3;
    --color-light: #FFF5D9;
    --color-primary: #FF5107;
}

@layer base {
    :root {
        --md: 724px;
    }
}

@layer components {
    .title-heading-1 {
        @apply h1-small md:h1-large text-light;
    }

    .fantasy-container {
        @apply w-full mx-auto py-4;
        padding-left: calc(100vw / 8);
        padding-right: calc(100vw / 8);
    }

    .orange-context {
        box-shadow: inset 0 0 0 10px var(--color-primary);
    }

    .font-afacad {
        font-family: var(--font-afacad);
    }

    @media (orientation: landscape) {
        .fantasy-container {
            padding-left: calc(100vw / 4);
            padding-right: calc(100vw / 4);
        }
    }

    .fantasy-title-shadow {
        text-shadow: 0 0 20px #FF5107;
    }
}

@utility h1-large {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility h1-small {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility h2-large {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility h2-small {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility h4-large {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.4em;
    text-transform: uppercase;
}

@utility h3-large {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility body-1-large {
    font-family: var(--font-afacad);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.01em;
}

@utility small-large {
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}

@utility body-3-large {
    font-size: 12px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

@utility perex-large {
    font-family: var(--font-afacad);
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
}