---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="min-h-screen bg-black flex items-center justify-center">
        <div class="text-center">
            <h1 class="title-heading-1 text-light mb-4">
                Oops
            </h1>
            <p class="perex-large text-light mb-8">
                This page doesn't exist.
            </p>

            <div class="pt-4">
                <a href="/" class="text-light hover:text-primary transition-colors duration-300 underline">
                    Go back to home
                </a>
            </div>
        </div>
    </main>
</Layout> 