---
import { Times } from "./Times";
import { MapButton } from "./MapButton";

const studiosAddress = "Fantasy Studios, Huťská 249, 272 01 Kladno 1, Czech Republic";
const officesAddress = "Fantasy Studios, Přístavní 16a, 170 00 Praha 7, Czech Republic";
---

<div id="contact-scene" class="min-h-screen">
    <div class="fantasy-container pt-[250px] md:pt-[300px] flex flex-col gap-[100px] md:gap-[164px]">
        <h1 class="h1-small md:h1-large text-primary">
            Dream big.<br />
            Shoot smart.
        </h1>

        <div class="border-t border-primary pt-[12px] flex flex-col gap-[24px]">
            <h2 class="body-3-large text-primary">Call us</h2>
            <div class="flex flex-col md:flex-row justify-between md:items-end gap-[32px] md:gap-0">
                <a href="tel:+420725431226" class="h1-small md:h1-large text-dark-1">+420 725 431 226</a>

                <div class="flex flex-col md:items-end gap-[2px] md:gap-[6px]">
                    <div class="flex gap-[10px] md:items-end">
                        <div class="small-large text-dark-2">
                            Our time
                        </div>
                        <div class="h3-large text-primary">
                            <Times client:load zone="Europe/Prague" />
                        </div>
                    </div>
                    <div class="flex gap-[10px] md:items-end">
                        <div class="small-large text-dark-2">
                            Your time
                        </div>
                        <div class="h3-large text-primary">
                            <Times client:load zone="autoDetect" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border-t border-primary pt-[12px] flex flex-col gap-[44px]">
            <h2 class="body-3-large text-primary">Email us</h2>
            
            <p class="body-1-large text-dark-1">
                Copy the email address and write us anything we want to read.
            </p>

            <a href="mailto:hello@fantasystudios.cz" class="h2-small md:h1-large text-dark-1">hello@fantasystudios.cz</a>
        </div>

        <div class="border-t border-primary pt-[12px] flex flex-col gap-[24px]">
            <h2 class="body-3-large text-primary">Meet us</h2>

            <div class="flex flex-col md:flex-row justify-between gap-[32px]">
                <div class="flex flex-col flex-grow gap-[32px]">
                    <h3 class="h2-large text-dark-1">Studios</h3>

                    <p class="body-1-large text-dark-1">
                        Fantasy Studios<br />
                        Huťská 249<br />
                        272 01 Kladno 1<br />
                        Czech Republic
                    </p>

                    <MapButton client:idle id="studios" />
                </div>

                <div class="flex flex-col flex-grow gap-[32px]">
                    <h3 class="h2-large text-dark-1">Offices</h3>

                    <p class="body-1-large text-dark-1">
                        Fantasy Studios<br />
                        Přístavní 16a<br />
                        170 00 Praha 7<br />
                        Czech Republic
                    </p>

                    <MapButton client:idle id="offices" />
                </div>
            </div>
        </div>

        <div class="flex flex-col flex-grow gap-[32px] pb-[500px]">
            <h3 class="h2-large text-dark-1">Invoicing</h3>

            <p class="body-1-large text-dark-1">
                evoke life s.r.o.<br />
                Jankovcova 1535/2A<br />
                170 00 Praha 7<br />
                Czech Republic<br /><br />
                VAT ID: CZ09167901
            </p>
        </div>
    </div>
</div>