---
import { SceneVisibilityHandler } from "./SceneVisibilityHandler";
import { StudioButton } from "./StudioButton";
---

<div id="scn4" class="fixed top-0 left-0 z-[11] h-screen w-screen flex flex-col items-center justify-center transition-all duration-800 opacity-0 translate-y-full">
	<div class="fantasy-container pt-[25vh]">
		<div class="translate-y-[-50%] flex flex-col gap-[32px] lg:gap-[40px]">
			<h2 class="text-left title-heading-1 text-primary fantasy-title-shadow tracking-[0.3em]">
				Built for</br>
				big dreams
			</h2>
			<p class="text-left font-afacad text-light text-[22px] md:text-[24px] tracking-[0.02em] leading-[1.2]">
				There are dreams that</br>
				does not need much space.</br>
				And then there are the others.
			</p>
		</div>

		<div class="flex gap-[32px] pt-[32px]">
			<div class="flex flex-col gap-[10px] items-center flex-grow">
				<StudioButton studio="A" client:load>
					studio a
				</StudioButton>
	
				<span class="text-light text-[12px] tracking-[0.4em]">29.4m × 27.7m</span>
			</div>

			<div class="flex flex-col gap-[10px] items-center flex-grow">
				<StudioButton studio="B" client:load>
					studio b
				</StudioButton>

				<span class="text-light text-[12px] tracking-[0.4em]">17.4m × 12.1m</span>
			</div>
		</div>
	</div>
</div>

<SceneVisibilityHandler sceneId="scn4" client:load />
