---
import { SceneVisibilityHandler } from "./SceneVisibilityHandler";
---

<div id="scn3" class="fixed top-0 left-0 z-[11] h-screen w-screen flex flex-col transition-all duration-800 opacity-0 translate-y-full">
	<div class="fantasy-container pt-[50vh]">
		<div class="translate-y-[-50%]">
			<h2 class="text-left title-heading-1">
				Shoot smart
			</h2>
			<p class="text-left font-afacad text-light text-[22px] md:text-[24px] tracking-[0.02em] leading-[1.2]">
				No masking. No keying.<br />
				Just you and over 19 million pixels.
			</p>
		</div>
	</div>

	<div class="fixed top-[76vh] left-0 w-full">
		<div class="fantasy-container flex flex-col items-start gap-[10px] translate-y-0 [@media(orientation:landscape)]:flex-row lg:gap-[32px] [@media(orientation:landscape)]:translate-y-[-50%]">
			<button class="btn-primary-light btn-sm lg:btn-lg">
				virtual production
			</button>

			<button class="btn-primary-light btn-sm lg:btn-lg">
				content creation
			</button>

			<button class="btn-primary-light btn-sm lg:btn-lg">
				motion capturing
			</button>
		</div>
	</div>
</div>

<SceneVisibilityHandler sceneId="scn3" client:load />
