<div id="h-screen w-screen flex flex-col items-center justify-center">
	<div class="flex flex-col items-center justify-center py-4 gap-[70px]">
		<button class="btn-primary-orange btn-sm lg:btn-lg">Click me</button>
		<button class="btn-secondary-orange btn-sm lg:btn-lg">Click me</button>
		<button class="btn-tertiary-orange btn-sm lg:btn-lg">Click me</button>

		<button class="btn-primary-light btn-sm lg:btn-lg">Click me</button>
		<button class="btn-secondary-light btn-sm lg:btn-lg">Click me</button>
		<button class="btn-tertiary-light btn-sm lg:btn-lg">Click me</button>
	</div>
</div>
